<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @service.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @service.twitter %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
